# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django specific
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media files
media/

# Static files
staticfiles/
static/

# Virtual environment
venv/
env/
ENV/
*.venv/
*.env/
*-env/
.Python

# Editor files and folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Testing
.pytest_cache/
.tox/
.coverage
htmlcov/
*.cover
*.py,cover
*.dat
*.log
.nox/

# Django migrations
**/migrations/*

# Environment variables
.env
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS
.DS_Store

# Windows
Thumbs.db
